.app {
  font-family: serif;
}

.app-header {
  background-color: #333;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  height: 55px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

a {
  color: #fff;
}
a:hover {
  color: rgb(224, 92, 44);
}

.popover {
  background-color: rgba(0, 0, 0, 0.8);
}

.playback-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 50px;
}

.playback-button, .pause-button {
  font-size: 40px;
  color: #333;
}

.playback-button:hover {
  color: rgb(224, 92, 44);
}

.pause-button:hover {
  color: red;
}

.screenplay {
  display: flex;
  flex-direction: column;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 20px;
  padding: 20px 50px;
  margin: 20px;
  max-width: 800px;
}

.dialogue, .character {
  margin-bottom: 20px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  background-color: rgba(32, 126, 135, 0.5);
}

.spacer {
  width: 300px;
}

.speech-form-container {
  background-color: #333;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
}

.label {
  font-size: 15px;
  margin: 5px 0;
  padding: 0 5px;
  font-family: Helvetica Neue;
  font-weight: 100;
  color: #fff;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Select-placeholder, .Select-value, .Select-menu-outer {
  background-color: rgb(32, 126, 135);
  color: #fff;
  font-size: 15px;
  font-family: Helvetica Neue;
}

.Select-input, .Select-value-label {
  color: #fff;
  font-size: 15px;
  font-family: Helvetica Neue;
}

.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff;
  font-size: 15px;
  font-family: Helvetica Neue;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff;
  font-size: 15px;
  font-family: Helvetica Neue;
}
